html {
    height: 100%;
}

body {
    background: rgb(32,30,80);
    background: linear-gradient(130deg, rgba(32,30,80,1) 40%, rgba(113,47,102,1) 100%);
    color: rgb(253, 253, 253);
    font-family: Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 18px;
    font-weight: 400;
    box-sizing: padding-box;
    height: 100%;
    margin: 0;
    background-repeat: no-repeat;
    background-attachment: fixed;
}


.main {
    display: flex;
    flex-direction: column;
    margin: 0 120px;
}

.nav {
    display: flex;
    flex: 1;
    align-items: center;
    margin: 0 150px;
}

.nav__items {
    display: flex;
    flex: 1;
    justify-content: flex-end;
}

.nav__item {
    list-style-type: none;
    padding-left: 20px;
}

.nav__link { 
    text-decoration: none;
    color: rgb(253,253,253);
    font-weight: 700;
    padding-bottom: 5px;
}

.nav__link:hover {
    border-bottom: 2px rgb(253, 253, 253) solid;
}

.nav__logo {
    display: flex;
}

.entry-section__text--highlight {
    background-color: rgba(10, 9, 24, 0.624);
    color: rgb(253, 253, 253);
}

.entry-section {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.entry-section__box--actions {
    display: flex;
    margin-top: 20px;
}

.entry-section__button {
    display: inline-block;
    background-color: rgba(10, 9, 24, 0.624);
    border-bottom: 2px rgb(253, 253, 253) solid;
    color: rgb(253, 253, 253);
    text-decoration: none;
    padding-bottom: 1px;
    align-self: center;
    
}

.social__icons {
    display: flex;
    justify-content: flex-end;
    flex: 1;
    align-items: center;
}

.social__icon {
    width: 30px;
    height: 30px;
    padding-right: 20px;
}

.knowledge__icon {
    height: 54px;
}

.knowledge-section {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}

.knowledge__icon {
    margin-top: 50px;
    flex: 1;
    margin: 50px 50px 0px 50px;
}

.projects-section {
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.contact-section {
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.project {
    display: flex;
}

.project__img {
    height: 100%;
}

.project__link {
    text-decoration: none;
    background-color: #fff;
    color: #000;
    padding-bottom: 2px;
}

.section__box--knowledge {
    position: relative;
    margin-bottom: 80px;
}

.knowledge__icon--description {
    position: absolute;
    top: .5rem;
    left: 50%;
    width: 100%;
    opacity: 0;
    text-align: center;
}

.knowledge__icon:hover + .knowledge__icon--description {
    opacity: 1;
    transform: translateX(-50%);
}

.section__boxes-experience {
    display: flex;
    text-align: center;
    justify-content: space-around;
    flex-wrap: wrap;
}

.section__box-experience {
    box-sizing: border-box;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.section__box-experience--text {
    width: 50%;
}