.html {
    --white-color: rgb(253,253,253);
    --black-color: rgb(0,0,0);
    display: flex;
    align-items: center;
    width: 100%;
    margin: 0;
    padding: 0;
}

.body {
    background: rgb(32,30,80);
    background: linear-gradient(130deg, rgba(32,30,80,1) 40%, rgba(113,47,102,1) 100%);
    color: var(--white-color);
    font-family: Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 18px;
    font-weight: 400;
    margin: 0;
    padding: 0;
    width: 100%;
    box-sizing: padding-box;
    background-repeat: no-repeat;
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
}

.main {
    display: flex;
    flex-direction: column;
    margin: 0 120px;
}

.header {
    display: flex;
    margin-top: 20px;
}

.nav {
    display: flex;
    flex: 1;
    margin: 0 150px;
}

.nav__items {
    display: flex;
    flex: 1;
    justify-content: flex-end;
}

.nav__item {
    list-style-type: none;
    padding-left: 20px;
}

.nav__link { 
    text-decoration: none;
    color: var(--white-color);
    font-weight: 700;
    padding-bottom: 5px;
}

.nav__link:hover {
    border-bottom: 2px var(--white-color) solid;
}

.nav__logo {
    display: flex;
}

.entry-section__text--highlight {
    background-color: rgba(10, 9, 24, 0.624);
    color: var(--white-color);
}

.entry-section {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.entry-section__box--actions {
    display: flex;
    margin-top: 20px;
}

.entry-section__button {
    display: inline-block;
    background-color: rgba(10, 9, 24, 0.624);
    border-bottom: 2px var(--white-color) solid;
    color: var(--white-color);
    text-decoration: none;
    padding-bottom: 1px;
    align-self: center;
    
}

.social__icons {
    display: flex;
    justify-content: flex-end;
    flex: 1;
    align-items: center;
}

.social__icon {
    width: 30px;
    height: 30px;
    padding-right: 20px;
}

.knowledge-section__icon {
    height: 54px;
}

.knowledge-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}

.knowledge-section__icon {
    margin-top: 50px;
    flex: 1;
    margin: 50px 50px 0px 50px;
}

.knowledge-section__box {
    position: relative;
    margin-bottom: 80px;
    display: flex;
    flex-wrap: wrap;
}

.knowledge-section__text{
    position: absolute;
    top: .5rem;
    left: 50%;
    width: 100%;
    text-align: center;
    opacity: 0;
}

.knowledge-section__icon:hover + .knowledge-section__text {
    opacity: 1;
    transform: translateX(-50%);
}

.experience-wrapper {
    display: flex;
    text-align: center;
    justify-content: space-around;
    flex-wrap: wrap;
}

.experience-wrapper__content {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
}

.experience-wrapper__text-box {
    width: 50%;
}

.projects-section {
    height: 100vh;
    display: flex;
    flex-direction: column;
    margin: 50px 50px 0px 50px;
    align-items: center;
    justify-content: center;
}

.project {
    display: flex;
    margin-bottom: 20px;
    justify-content: space-around;
    align-items: center;
}

.project__link {
    text-decoration: none;
    background-color: var(--white-color);
    color: var(--black-color);
    padding: 10px;
}

.project__box--text {
    flex: 2;
}

.project__box--img {
    flex: 1;
}

.project__img {
    width: 100%;
    border: 1px solid var(--black-color);
    box-sizing: border-box;
}

.contact__wrapper {
    width: 50%;
}

.contact-section {
    height: 100vh;
    display: flex;
    flex-direction: column;
    margin: 50px 50px 0 50px;
    align-items: center;
    justify-content: center;
}

.form__input {
    padding: 10px;
    margin-bottom: 20px;
    margin-top: 10px
}

.form__label { 
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

.form__button {
    background-color: var(--white-color);
    color: var(--black-color);
}

@media (max-width: 576px){
    .experience-wrapper__content {
        width: 100%;
    }
    .knowledge-section__icon {
        margin: 80px 20px 0 20px;
    }

    .main {
        margin: 0 20px;
    }

    .projects-section, .contact-section {
        margin: 0;
    }

    .contact-section {
        margin-bottom: 20px;
    }

    .project {
        flex-direction: column;
    }

    .project__box--text {
        flex: 1;
        margin-bottom: 20px;
    }

    .project__box--links {
        display: flex;
        justify-content: center;
    }

    .project__link {
        margin: 10px;
    }

}

@media (max-width: 768px) { 
    .entry-section, .knowledge-section, .projects-section, .contact-section {
        height: 100%;
    }

    .contact__wrapper {
        width: 100%;
    }

}


@media (max-width: 976px) {
    .nav {
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        flex: 0;
        width: 100%;
        margin: 0 auto;
    }

    .nav__items {
        padding-inline-start: 0;
        flex: 0;
    }

    .experience-wrapper__text-box {
        width: 100%;
        padding: 20px
    }
}